body{
    background-size:cover;
    background-position:center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius:10px;
}
a{
    color:blanchedalmond;
    background-color:blueviolet;
    text-decoration:none;
}
button{
    color:blanchedalmond;
    background-color:blueviolet;
    font-size:40px;
    padding:20px;
    border-radius:50px;
    width:200px;
    margin-bottom:50px;
    float:right;
}
